pip==20.2.3
bumpversion==0.5.3
wheel==0.32.3
watchdog==0.9.0
flake8==3.6.0
tox==3.5.3
coverage==4.5.2
Sphinx==1.8.2
twine==3.1.1
click==7.0

astropy==4.1
numpy==1.19.4
bokeh==2.2.3
svo_filters==0.3.0
scipy==1.2.1
astroquery==0.4.1
sedkit==1.0.8

asdf==2.7.1
crds==10.1.0
jwst==0.17.1

pytest==4.6
pytest-runner==4.2